{
	"useTabs": true,
	"tabWidth": 4,
	"semi": false,
	"htmlWhitespaceSensitivity": "ignore",
	"overrides": [
		{
			"files": "*.js,*.jsx,*.ts,*.tsx",
			"options": { "semi": false }
		},
		{
			"files": "*.css,*.scss",
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		}
	]
}
